<div>
  <table>
    <tr>
    <th>Carrito</th>
    <th>Id del Producto</th>
    <th>Cantidad</th>
    
  </tr>
{{#each payload}}
        <tr class="product-row" data-product-id="{{this.product}}">
          <td>{{../cartId}}</td>
            <td>{{this.product}}</td> 
          <td>{{this.quantity}}</td>
        </tr>

    
    {{/each }}
  </table>  
  <form action="/carts/{{cartId}}/purchase" method="POST">
    <button type="submit">Finalizar Compra</button>
  </form>
 
<a href="/products" role="button">Volver a los productos</a>
</div><script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>